.bgPadding,
.widthControl {
  max-width: none;
}
.navbar {
  position: absolute;
}
.navcon,
.navdown {
  position: static !important;
}
.navbar .navcon {
  height: 60px;
}
.navcon a {
  border-right: 0 !important;
  border-left: 0 !important;
}
.hltv-logo-container {
  position: absolute;
  top: 0;
  z-index: 50000;
}

.forum {
  /* Hide comments from articles */
  display: none;
}

.leftCol,
.rightCol {
  min-width: 15%;
  max-width: 15%;
}

.leftCol .team {
  width: 50% !important;
}

body {
  zoom: 1.15 !important;
}

.navbar .navdown {
  line-height: 62px;
}

.navdown i {
  font-size: 18px;
  position: absolute;
  right: 2.5rem;
  top: 23px;
}

a[href='/forums'] {
  display: none;
}
